node_modules/
*.iml
../.idea/*
.idea/
../.idea/codeStyles/codeStyleConfig.xml
../.idea/encodings.xml
../.idea/inspectionProfiles/Project_Default.xml
../.idea/misc.xml
../.idea/modules.xml
../.idea/simple-todos.iml
../.idea/vcs.xml
